.balloon_right {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}

.balloon_right .faceicon {
  float: right;
  margin-right: 10px;
  width: 80px;
}

.balloon_right .faceicon img{
  width: 100%;
  height: auto;
  border: solid 3px #d7ebfe;
  border-radius: 50%;
}

.balloon_right .chatting {
  width: 100%;
}

.says_right {
  display: inline-block;
  position: relative; 
  margin: 5px 20px 0px 0px;
  padding: 17px 13px;
  border-radius: 12px;
  background: #d7ebfe;
  float: right;
}

.says_right:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px; 
  right: -24px;
  border: 12px solid transparent;
  border-left: 12px solid #d7ebfe;
}

.says_right p {
  margin: 0;
  padding: 0;
}