	@media only screen and (min-width: 600px)
	{
		.content .blogcard{
			padding: 0px;
			margin: 0px;
			background: #fbfaf8;
			border:1px solid #ddd;
			word-wrap:break-word;
			max-width:100%;
			border-radius:5px;
			margin-top: 5px;
			padding: 0px;
		}
		.content div, .content p {
			margin-top: 0px;
		}
		.blogcard:hover {
			background: #fee;
		}
		.blogcard a {
			text-decoration: none;
		}
		.blogcard-thumbnail {
			float:left;
		}
		.blogcard-thumbnail img {
			padding-top: 3px;
			padding-left: 3px;
			display: block;
			-webkit-transition: 0.3s ease-in-out;
			-moz-transition: 0.3s ease-in-out;
			-o-transition: 0.3s ease-in-out;
			transition: 0.3s ease-in-out;
			width: 100px;
			height: 100px;
		}
		.blogcard-title {
			color: #337ab7;
			display: block;
			padding:0px 5px 0px 5px;
			font-size:80%;
			font-weight: bold;
			line-height: 1.0em;
		}
		.blogcard-content {
			line-height:100%;
		}
		.blogcard-excerpt {
			color:#333;
			font-size:small;
			margin:0 5px 5px;
			line-height: 1.0em;
		}
		.blogcard .clear {
			clear: both;
		}
	}
	@media only screen and (max-width: 600px)
	{
		.content .blogcard{
			background: #fbfaf8;
			border:1px solid #ddd;
			word-wrap:break-word;
			max-width:100%;
			border-radius:5px;
			margin: 5px;
			padding: 0px;
		}
		.content div, .content p {
			margin-top: 0px;
		}
		.blogcard:hover {
			background: #fee;
		}
		.blogcard a {
			text-decoration: none;
		}
		.blogcard-thumbnail {
			float:left;
		}
		.blogcard-thumbnail img {
			display: block;
			padding-top: 5px;
			padding-left: 10px;
			-webkit-transition: 0.3s ease-in-out;
			-moz-transition: 0.3s ease-in-out;
			-o-transition: 0.3s ease-in-out;
			transition: 0.3s ease-in-out;
			width: 100px;
			height: 100px;
		}
		.blogcard-content {
			line-height:100%;
		}
		.blogcard-title {
			color: #337ab7;
			display: block;
			padding:5px 10px 0px 10px;
			font-size:120%;
			font-weight: bold;
			line-height: 1.0em;
		}
		.blogcard-excerpt {
			color:#333;
			font-size:small;
			margin:0 5px 5px;
			overflow: hidden;
			height: 3.0em;
			line-height: 1.0;
			display:none;
		}
		.blogcard .clear {
			clear: both;
		}
	}
