.red-shiny {
  display: block;
  margin-bottom: 1em;
  display: inline-block;
}
.red-shiny a {
  display: inline-block;
  position: relative;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  font-weight: bold ;
  border-bottom: solid 5px #a0222b ;
  border-right: solid 1px #a0222b;
  border-radius: 5px;
  background-color: #cc2c37 ;
  color: #ffffff !important;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  transition: .25s linear;
  -webkit-transition: .25s linear;
  -moz-transition: .25s linear;
}
.red-shiny a:hover {
  /*マウスカーソルを合わせた時の動き*/
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}
.red-shiny a:before {
  display: block;
  position: absolute;
  z-index: -1;
  left: -30%;
  top: -50%;
  content: "";
  width: 30px;
  height: 100px;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  background-image: linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
  background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)),color-stop(100%,rgba(255,255,255,0)));
  background-image: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, #ffffff rgba(255,255,255,1),rgba(255,255,255,0) 100%);
  animation: shiny 2s infinite linear;
  -webkit-animation: shiny 2s infinite linear;
  -moz-animation: shiny 2s infinite linear;
}
@keyframes shiny {
  0% { left: -30%; }
  20% { left: 120%; }
  100% { left: 120%; }
}
@-webkit-keyframes shiny {
  0% { left: -30%; }
  20% { left: 120%; }
  100% { left: 120%; }
}
@-moz-keyframes shiny {
  0% { left: -30%; }
  20% { left: 120%; }
  100% { left: 120%;}
}